<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #000; color: white;">
    <div class="container">
       <center> <h1 class="mt-5">{{ title }}</h1></center>
        <center><img src="data:img/png;base64,{{ image_url }}" class="img-fluid" alt="My Image"></center>
        <center><p>{{ question }}</p>
		<p>{{ paragraph }}?</p></center>
        <center>
		{% for answer_text in answer_texts %}
            <form method="POST">
                <div class="mb-2">
                    <button name="button_name" value="button{{ loop.index0 + 1 }}" class="btn btn-primary">{{ answer_text }}</button>
                </div>
            </form>
            {% if button_states['button' + (loop.index0 + 1)|string] %}
                <p>{{ answer_text }}</p>
            {% endif %}
        {% endfor %}
        </center>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
